.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.CardBody{
  width: 100%;
}

.title{
  height: 2rem;
}